/*
Variables
*/

:root {
  /*shades of primary color*/
  --prime-clr-1: hsl(82, 91%, 17%);
  --prime-clr-2: hsl(104, 84%, 25%);
  --prime-clr-3: hsl(134, 81%, 29%);
  /* primary/main color */
  --prime-clr-4: hsl(137, 64%, 19%);
  /* lighter shade of primary color */
  --prime-clr-5: hsl(142, 91%, 70%);
  /* dark colours - used for headings */
  --heading-clr: hsl(133, 92%, 10%);
  /* used for paragraphs */
  --paragraph-clr: hsl(84, 43%, 24%);
  --white-clr: #fff;
  --yellow-clr: #d2c868ec;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
Global Styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Bahnschrift", sans-serif;
  background: var(--white-clr);
  color: var(--heading-clr);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--paragraph-clr);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--prime-clr-4);
  color: var(--white-clr);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;

  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--prime-clr-1);
  background: var(--prime-clr-5);
}
/*center text*/
.centerText {
  text-align: center;
}
/*center element display*/
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*table style*/
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #96d4d4;
}
/* section  */
.section {
  padding: 5rem 0;
  scroll-margin-top: 4rem;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--prime-clr-4);
}
.section-center {
  width: 90vw;

  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    justify-content: center;
    width: 95vw;
  }
}

/* 
About Component
*/

.about-img,
.about-info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about-center {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .about-img,
  .about-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--prime-clr-4);
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
  }

  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }
}

/*
Footer Component
*/
.footer {
  background: var(--heading-clr);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--white-clr);
}
.copyright span {
  margin-left: 0.5rem;
}
/*
Navbar
*/

.navbar {
  background: var(--yellow-clr);
  box-shadow: var(--dark-shadow);
}

.nav-icons {
  display: none;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--prime-clr-4);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .nav-toggle:hover {
    color: var(--prime-clr-1);
  }
}

.nav-logo {
  height: 45px;
}

button.nav-link {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  text-align: inherit;
  text-decoration: none; /* Add this line to remove underline */
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--heading-clr);
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: var(--prime-clr-5);
  background: var(--prime-clr-2);
  padding-left: 2.25rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}

/* nav at bigger screen size */
@media screen and (min-width: 1025px) {
  /* hide nav toggle button */

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
  }

  .navbar {
    /* commented this out as it is a hinderance to other pages (the need to add margins at the top of every page)  */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background: var(--yellow-clr);
    box-shadow: var(--dark-shadow);
    z-index: 2;
    height: 4rem;
    display: flex;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }

  /* show links */
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
  }
  .nav-link:hover {
    padding: 0;
    color: var(--prime-clr-3);
    background: transparent;
  }
  .nav-icons {
    display: flex;
  }

  .links-container {
    height: auto !important;
    margin-right: 0rem;
  }

  .nav-link {
    margin-right: 0.7rem;
  }
  .nav-icon {
    margin-right: 0.7rem;
    color: var(--prime-clr-4);
    font-size: 1.2rem;
    transition: var(--transition);
  }
  .nav-icon:hover {
    color: var(--prime-clr-5);
  }
}

/*
Hero Component
*/

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(7, 62, 28, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/main.jpg") center/cover no-repeat;
}
.hero-banner {
  text-align: center;
  color: var(--white-clr);
  padding: 0 3rem;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-clr);
  letter-spacing: var(--spacing);
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgb(7, 62, 28, 0.7), rgba(0, 0, 0, 0.7)),
      url("./images/main.jpg") center/cover no-repeat;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    max-width: 45rem;
  }
}
/*
Map Component
*/

#map {
  /* Setup the size of the map */
  height: 600px;
  width: 100%;
  margin-top: 0px;
}
@media screen and (min-width: 1025px) {
  #map {
    height: 600px;
    width: 100%;
    margin-top: 0px;
  }
}

/*
AI Page
*/

.aiModels {
  margin-top: 100px;
}

/*
NewBoundary, NewStation and SuggestStation forms
*/

.datapage {
  height: 1900px;
}

@media screen and (min-width: 1025px) {
  .datapage {
    margin-top: 70px;
    height: 1000px;
    width: 100%;
  }
}

#suggest {
  float: left;
  width: 30%;
  margin-right: 10px;
  box-shadow: 0 50px 50px rgb(0 0 0 / 0.2);
  border-radius: 25px;
  background: #a4cfec49;
  padding: 20px;
}
#boundary {
  float: left;
  width: 30%;
  box-shadow: 0 50px 50px rgb(0 0 0 / 0.2);
  border-radius: 25px;
  background: #a4cfec49;
  padding: 20px;
}
#newstation {
  float: left;
  width: 30%;
  margin-right: 10px;
  box-shadow: 0 50px 50px rgb(0 0 0 / 0.2);
  border-radius: 25px;
  background: #2144ad1a;
  padding: 20px;
}

/*
Login Page
*/

.loginpage {
  margin-top: 0px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: var(--prime-clr-4);
  color: var(--white-clr);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.login-label {
  margin-bottom: 0.5rem;
}
.login-form input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: var(--heading-clr);
  width: 100%;
}
.login-btn {
  margin-top: 1rem;
  background-color: var(--prime-clr-2);
  color: var(--white-clr);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: var(--transition);
}
.login-btn:hover {
  background-color: var(--prime-clr-5);
  color: var(--prime-clr-1);
}
.login-error {
  color: red;
  margin-bottom: 1rem;
}

.login-success {
  color: white;
  margin-bottom: 1rem;
}

/*
user page
*/

.user-profile {
  height: auto;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--prime-clr-5);
  border-radius: 1rem;
  box-shadow: var(--dark-shadow);
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 4px solid var(--prime-clr-4);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h2 {
  font-size: 2rem;
  color: var(--heading-clr);
  margin-bottom: var(--spacing);
}

.user-info p {
  font-size: 1.2rem;
  color: var(--paragraph-clr);
}

.verified-badge {
  color: var(--prime-clr-1);
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
