.App {
    text-align: center;
  }
  
  .Apph3 {
    text-align: left;
  }
  
  .Apph4 {
    text-align: left;
  }

.react-form {
    text-align: left;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }